{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<section class="about" id="about">

    <div class="image">
        <img src="static/images/about.jpg" alt="">
    </div>

    <div class="content">
        <h3 class="title">Welcome to Maroc</h3>
        <p>Maroc is Nutrition Consulting Company that helps clients with Weight Loss and better manage their PCOS,
            diabetes, and thyroid through a Personalized Diet Protocol.</p>
        <!-- <a href="#" class="btn">read more</a> -->
        <p>At Maroc we provide, </p>
        <div class="icons-container">
            <div class="icons">
                <img src="static/images/personal-care.png" alt="">
                <h3 style="font-weight: bold; color: #cd9452">Personalized Care</h3>
            </div>
            <div class="icons">
                <img src="static/images/diet-plan.png" alt="">
                <h3 style="font-weight: bold; color: #cd9452">Dietary Protocol</h3>
            </div>
            <div class="icons">
                <img src="static/images/life-style.png" alt="">
                <h3 style="font-weight: bold; color: #cd9452">Lifestyle changes</h3>
            </div>
            <div class="icons">
                <img src="static/images/recomen.png" alt="">
                <h3 style="font-weight: bold; color: #cd9452">Recommendation</h3>
            </div>
            <!-- <div class="icons">
                <img src="images/protocol.png" alt="">
                <h3>Protocols</h3>
            </div> -->
        </div>
    </div>

</section>

{% endblock body %}